body{
    font-family: "Comic Sans MS",SansSerif;
    margin: 0px;
}
h1{
    background-color: orangered;
    padding: 10px;
    text-align: center;
}
#display{
    background-color: orange;
    padding: 10px;
    text-align: center;
}